// Footer section
.site-footer {

	.social {
		background-color: $bg-blue-gray;
		//height: 100px;
	}

	.info {
		padding: 10px 0;
		background-color: $bg-dark-blue-gray;	

		p {
			margin: auto;
			color: $text-light-gray;
		}

	}
}