//
// Variables
// --------------------------------------------------

// Footer
// -------------------------
$footer-top-border: #e5e5e5;

// Backgrounds
// -------------------------
$bg-blue-gray: #495B67;
$bg-dark-blue-gray: #2C3E50;

// Text
// -------------------------
$text-light-gray: #bbb;