//
// Variables
// --------------------------------------------------

// Footer
// -------------------------
$footer-top-border: #e5e5e5;

// Backgrounds
// -------------------------
$bg-dark-gray: #333;
$bg-dark-blue-gray: #2C3E50;

// Text
// -------------------------
$text-light-gray: #666;
$text-lighter-gray: #777;