<div class="social">
	<ul>
		<li><a href="http://www.facebook.com/alexcorre"></a></li>
		<li><a href="http://www.linkedin.com/in/alexcorre"></a></li>
		<li><a href="http://twitter.com/alexcorre"></a></li>
		<li><a href="https://plus.google.com/u/0/100275189702314688393/posts"></a></li>
	</ul>
</div>
<div class="info">
	<div class="container">
		<p class="pull-left">Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}</p>
		<p class="pull-right">
			<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
		</p>
	</div>
</div>
